* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: gold;
}

img {
	width: 550px;
}

.container {
	text-align: center;
    width: 50%;
    max-width: 100;
    margin: 50px auto;
    padding: 20px;
    background: silver;
    border-radius: 12px;
}

button {
	border: none;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    background: orange;
    color: firebrick;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background: lightyellow;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;